<!doctype>
<html>
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/c3/c3.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <title><%- title %></title>
</head>
<body>
    <div><strong><%- body %></strong></div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/knockout/dist/knockout.js"></script>
    <script src="/lib/d3/d3.min.js"></script>
    <script src="/lib/c3/c3.min.js"></script>
    <script src="/js/chart.js"></script>
</body>
</html> 